<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap Framework -->
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css" />
    <!-- Custom CSS -->
    <link href="~/content/site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Bethany's</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarItems">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarItems">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    @await Component.InvokeAsync("CategoryMenu")
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Contact" asp-action="Index">Contact</a>
                    </li>
                    @await Component.InvokeAsync("ShoppingCartSummary")
                </ul>
            </div><!--end navbar-collapse-->
        </div> <!--end container-->
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">
                    <img class="img-fluid" src="~/images/bethanylogo.png" alt="Bethany's Pie Shop" />
                </p>
            </div> <!--end col-->
            <div class="col-md-9">
                @RenderBody()
            </div> <!--end col-->
        </div> <!--end row-->
    </div> <!--end container-->
    <!-- Bootstrap JS -->
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
</body>
</html>